#map { height: 300px; }

main{
    width: 100%;
}


.mapExempleHouse{
    display: flex;
    width: 100%;

}


.displayMap{
    width: 50%;
}

.exempleHouse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 33%;
    border-radius: 20px;
    padding: 0 10px;
}


.displayMap{
    width: 66%;
    border-radius: 20px;
    margin-left: 1%;
    background-color: #F2F2F2;
}

/* redimmensionner les <a> dans .exempleHouse */